@media screen and (max-width: 480px){
   
   .nav-content{
    display: none;
   }
   .searchitem{
    display: none;
   }
   .nav-log{
    width: 70%;
   }
    .side-bar{
        width: 30%;
        display: flex;
        text-align: end;
    }

    .slideshow-container {
        width: 100%;
        height: 40vh;
    }
    
    .cyco{
        width: 100%;

    }
    .inner-brands{
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
    }
    .inner-contact-cont input{
        width: 100%;
    }
    
    .inner-footer{
        width: 100%;
    }
    .contact-cont{
        flex-direction: column;
    }
    .inner-contact-map{
        width: 100%;
    }
    .inner-contact-cont{
        width: 100%;
    }


}
@media  screen and (min-width:768px) {
    .menu-bar{
        display: none;
    }
    
}